<?php
return array(
    'rrcomlessmodule' => array(
        'files' => array(
            array(
                'less-file' => './public/less/sample1.less',
                'css-file' => './public/css/sample1.css',
            ),array(
                'less-file' => './public/less/sample2.less',
                'css-file' => './public/css/sample2.css',
            ),
        ),
    ),
);